<template>
  <div class="hello">
    <h1>Selamat Mengerjakan</h1>

    <p :style="'color: red'" v-if="poin < items.length-((items.length*3)/10)">Maaf, Anda Belum Bisa Menjadi Wirausaha . Silahkan menuntut ilmu</p>
    <p :style="'color: green'" v-else>Selamat, Anda bisa berwirausaha</p>
    <p>{{ 'Poin Anda '+poin}}</p>

    <div v-for="(item,index) in items" :key="item.pertanyaan" :options="item.pertanyaan">
      <p>{{index+1}}. {{ item.pertanyaan}}</p>
      <div  v-for="pilih in item.pilihan" :key="pilih.pilihan" :options="pilih.pilihan">
        <input type="radio"  :name="'name'+index" 
         @click="checkJawaban(index,pilih.pilihan)" 
        :value="pilih.pilihan" >{{ pilih.pilihan }} 
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'HelloWorld',
  data: function(){
    return {
      nama: 'Agung Gunawan',
      show: true,
      poin:0,
      jawabanbenar: [],
      items:[
      {
        name:'soal1',
        pertanyaan: 'Jika perusahaan bisa membayar seluruh hutangnya dengan seluruh harta makan perusahaan itu ?',
        answer:String,
        check:true,
        pilihan:[
        { pilihan:'SOLVABEL' },
        { pilihan:'RENTABEL' },
        { pilihan:'LIQUID'},
        { pilihan:'SOKLIN' } ],
        jawaban:'SOLVABEL'
      },
      {
        pertanyaan: 'Total Aktiva dibagi total hutang adalah rumus ?',
        name:'soal2',
        check:true,
        answer:String,
        pilihan:[
        { pilihan:'Solvabilitas' },
        { pilihan:'Rentabilitas ekonomi' },
        { pilihan:'Cash Ratio' },
        { pilihan:'Quick Ratio' }
        ],
        jawaban:'Solvabilitas'
      },
      {
        pertanyaan: 'Arti Kredit dalam bahasa yunani adalah ?',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'Hutang' },
        { pilihan:'Piutang' },
        { pilihan:'Kepercayaan' },
        { pilihan:'Kewadulan' }
        ],
        jawaban:'Kepercayaan'
      },
      {
        pertanyaan: 'Jika kita menabung kita akan mendapatkan kartu ?',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'KTP' },
        { pilihan:'KIP' },
        { pilihan:'Kredit' },
        { pilihan:'Debit' }
        ],
        jawaban:'Debit'
      },
      {
        pertanyaan: 'mampu membayar hutang lancar dengan cepat disebut ?',
        answer:String,
        check:true,
        name:'soal3',
        pilihan:[
        { pilihan:'Solvabel' },
        { pilihan:'Rentabel' },
        { pilihan:'Quick ratio' },
        { pilihan:'Current Asset ratio' }
        ],
        jawaban:'Quick ratio'
      }
      ]
    }
  },
  methods: {
    checkJawaban(i,jawab){

      if(this.items[i].jawaban === jawab){
        if(this.jawabanbenar.indexOf(i) == -1){
          this.poin++;
          this.jawabanbenar.push(i);
        }
      }
      if(this.items[i].jawaban !== jawab){
        if(this.jawabanbenar.indexOf(i) != -1){
          this.poin--;
          this.jawabanbenar.splice(this.jawabanbenar.indexOf(i), 1);
        }
      }

        this.items[i].check = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>